@font-face {
    font-family: "Burbank Big Cd Bd";
    src: url(burbank-big/condensed/bold/burbankbigcondensed_bold.otf);
}

html,body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    background-color: #f0c192;
    height: 200px;
    border-radius: 13px;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 15px;
}

header a {
    text-decoration: none;
    color: #5F6F52;
}

header h1 {
    font-size: 60px;
    color: #5F6F52;
    font-family: "Burbank Big Cd Bd";
    text-decoration: none;

}


body {
    padding-top: 5px;
    background-color: #FEFAE0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    flex: 1;
    background-color: #B99470;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;

}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    color: rgb(59, 58, 58);
    border-radius: 100px;
}

nav a:hover {
    background-color: #937659;
    transition: ease-in-out 0.3s;
    /* o tempo da transição não muda para a saída, favor consertar */

}

main {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
}

main div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

div.imag-d, div.imag-e {
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5F6F52;
}

div.imag-d img, div.imag-e img {
    width: 200px;
    height: 147px;
    padding: 3px;
}

div.pronuncia-sim, div.pronuncia-nao {
    display: flex;
    flex-direction: column;
}

div.pronuncia-sim audio, div.pronuncia-nao audio {
    padding-left: 5px;
    padding-right: 5px;

}

div.pronuncia-sim span, div.pronuncia-nao span {
    padding-top: 15px;
    
}

div.text {
    background-color: #d4d1bb;
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 13px;
    margin: 0 auto;
    flex-direction: column;
    padding-bottom: 20px;
    margin: 5px;
    margin-top: 20px;
    flex: 60%;
}

div.text a {
    background-color: #B99470;
    text-decoration: none;
    color: rgb(54, 54, 54);
    border-radius: 7px;
    padding: 5px;
}

div.text a:hover {
    background-color: #937659;
    transition: ease-in 0.3s;
    transition: ease-out 0.3s;
    transform: scale(1.2);

}

div.paragrafo {
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    margin-top: 5px;
    padding: 1rem;
    background-color: #d4d1bb;
}